<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>

        <style>
            body {
                font: 2em/1.2 sans-serif;
                text-align: center;
                padding: 50px;
                margin: 0;
            }

            div.wrapper {
                width: 400px;
                margin: 0 auto;
            }

            ul.leaderboard {
                display: block;
                list-style-type: none;
                margin: 0 auto;
                padding: 0;
                text-align: left;
            }

            ul.leaderboard li {
                display: block;
                padding: 10px;
                margin: 0;
                *zoom: 1
            }

            ul.leaderboard li:after {

            }

            ul.leaderboard li:before,
            ul.leaderboard li:after {
                content: " ";
                display: table
            }

            ul.leaderboard li:after {
                clear: both
            }

            ul.leaderboard li.active {
                background: #ccccff;
            }

            ul.leaderboard li .name {
                display: block;
                float: left;
            }

            ul.leaderboard li .score {
                display: block;
                float: right;
            }

            div.voter {
                border-top: 3px dashed #ccc;
                padding: 10px;  
                margin: 10px auto;
                text-align: left;
            }

            div.voter span {
                font-weight: bold;             
                color: #999;
                display: block;
            }

            div.voter input {
                margin-top: 10px;
                display: none;              
            }

            div.voter-valid span {
                color: #000;
            }

            div.voter-valid input {
                display: block;              
            }
        </style>
    </head>
    <body>

        <div class="wrapper">
            <ul class="leaderboard">
            {% for item in leaderboard %}
                <li class="leader-{{ item.id }}"
                    data-id="{{ item.id }}"
                    data-name="{{ item.name }}"
                    data-score="{{ item.score }}">
                    <span class="name">{{ item.name }}</span>
                    <span class="score">{{ item.score }}</span>
                </li>
            {% endfor %}
            </ul>

            <div class="voter">
                <span>Click a player to select</span>
                <input type="button" value="Give 5 Points" />
            </div>
        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $(document).on("click", "ul.leaderboard li", function(e) { 
                    $("div.voter").attr("data-id", $(this).attr("data-id"));
                    $("div.voter").attr("data-name", $(this).attr("data-name"));
                    $("div.voter").attr("data-score", $(this).attr("data-score"));
                    $("div.voter span").text($(this).attr("data-name"));
                    $("div.voter").addClass("voter-valid");

                    $(this).siblings("li").removeClass("active");
                    $(this).addClass("active");
                });

                $(document).on("sort", "ul.leaderboard", function(e) {
                    var items = $(this).find("li");

                    items.sort(function(a, b) {
                        var ascore = parseInt($(a).attr("data-score").replace(/[^\d]/g, ''));
                        var bscore = parseInt($(b).attr("data-score").replace(/[^\d]/g, ''));

                        var aname = $(a).attr("data-name");
                        var bname = $(b).attr("data-name");

                        return (ascore > bscore)
                                    ? -1
                                    : ((ascore < bscore)
                                        ? 1
                                        : ((aname > bname)
                                            ? 1
                                            : -1 * (aname < bname)));
                    });

                    $(this).html(items);
                });

                $(document).on("click", "div.voter input", function(e) {
                    var id = $(this).parents("div.voter").attr("data-id");
                    $.post("/vote/" + id, function(res) {
                        console.log(res);
                    });
                });

                var randKey = ($.map([0, 0, 0, 0, 0, 0], 
                                    function(el) { 
                                        return String.fromCharCode(Math.round(Math.random() * 25) + 97); 
                                    })).join('') + (new Date()).getTime();

                var listener = function(offset) {
                    $.get("/listen/" + randKey,
                        { offset: offset }, 
                        function(res) {
                            for (var i = 0, l = res.items.length; i < l; i++) {
                                var item = res.items[i];
                                $(".leader-" + item.id).attr("data-score", item.score);
                                $(".leader-" + item.id).find(".score").text(item.score);
                            }

                            $(".leaderboard").trigger("sort");

                            listener(res.update);
                        });
                };

                listener({{ update }});
            });
        </script>

    </body>
</html>